{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>DramaRama</title>
    <link rel="icon" href="{% static 'images/favicon.ico' %}" type="image/x-icon"/>
<!--    <link rel="stylesheet" href="{% static 'css/base.css' %}" type="text/css"/>-->
<!--    <link rel="stylesheet" href="{% static 'css/index.css' %}" type="text/css"/>-->
    <style>

	</style>
</head>

<body>
    <div class="container">
        <div class="title"><font color="#8469d0">D</font>ramaRama</div>
        <div class="desc">
            🦙라마가 너에게 꼭 맞는 드라마를 추천해줄거야💜<br>
            나는 무슨 드라마 보지❔🤷‍♀️🤷‍♂️💭
            <div class="desc-l">
                실제 드라마 시청자들의 설문 데이터를 이용한 맞춤 드라마 추천 서비스
            </div>
        </div>
        <img src="{% static 'images/dramarama-img1.png' %}">
        <div class="btn">

            <form action="Who-you-are" method="post">
               <button input type="submit">나에게 맞는 드라마 찾으러 가기</button>
            </form>
        </div>
        <div class="btn">
<!--            <a href="{% url 'index' %}">-->
               <button>내 드라마 취향 공유하기</button>
<!--            </a>-->
        </div>
    </div>
    <footer>
        © 2020. <b>DramaRama</b> — Developer <a href="https://github.com/mjkcool" target="_blank"><b>mjkcool</b></a>
    </footer>
</body>

</html>
